<div nz-row>
    <nz-table #outBordered nzOuterBordered [nzData]="dataSet" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
        [nzShowPagination]="showPagination" [nzLoading]="loading" [nzTotal]="total" 
        [nzPageSizeOptions]="pageSizeOptions"
        >
        <thead>
            <tr>
                <th *ngFor="let item of colummConfig">{{item.label}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of outBordered.data">
                <td *ngFor="let item of colummConfig">{{ data[item.name] }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>